html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font: 16px/1 Georgia, serif;
    line-height: 1.1875em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#main {
    margin-left: auto;
    margin-right: auto;
    padding: 0 3em;
    max-width: 960px;
}

p {
    line-height: 1.6;
}

html,
button,
input,
select,
textarea {
    color: #333;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

article,
footer,
header,
main,
nav,
li {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

a,
button {
    color: inherit;
    transition: .3s;
}

a {
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 90vh;
    height: auto;
    border: 0;
}

figure {
    text-align: center;
    margin: 1em 0;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
